.img-css {
  width: 1440px;
  height: 584px;
}

.position-absolute {
  top: -10px;
  left: 80%;
  padding: 10px;
}
.custom-card {
  height: 480px;
  width: 292px;
  background: #3f87f5;
  box-shadow: 0px 42px 34px rgba(63, 135, 245, 0.25);
  border-radius: 26px;
}

.custom-card-button {
  border: none;
  width: 220px;
  height: 50px;
  border-radius: 50px;
  background-color: #fff;
  margin-top: 24px;
}
.custom-button {
  border: none;
  width: 220px;
  height: 50px;
  border-radius: 50px;
  background: rgba(244, 150, 210, 0.075);
  margin-top: 24px;
}
